*{
   padding: 0;
}


.carousel-inner {
   height: 600px;
   padding-top: 80px;
   padding-left: 500px;
   background-color: black;

}

.d-block {
   height: 500px;
   width: 350px;
   text-align: center;
}


.movie-container {
   background-color: black;
   padding-left: 530px;
   padding-top: 50px;
 }

 .naslov {
   color:#fff;
 }
 
 .movie-container select {
   background-color: #fff;
   border: 0;
   border-radius: 5px;
   font-size: 14px;
   margin-left: 10px;
   padding: 5px 15px 5px 15px;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
 }